
@media (max-width:1199px) {
.quiz-list h2 {
	font-size: 20px;
}
.main {
	width: 60%;
}
.quiz-score span svg {
	font-size: 45px;
}
.quiz-result h2 {
	font-size: 30px;
}
}

@media (max-width:767px) {
.col-sm-5.qz-r2 {
	margin-right: 0px;
	float: left;
}
.add-img {
	text-align: center;
	position: relative;
	top: 0px;
	right: 0px;
}
.main-head-profile ul {
	margin-bottom: 0;
	padding: 0;
}
.main-head-profile >ul> li {
	display: inline-block;
	padding: 0 5px;
}
.main-head-profile >ul> li> a {
	color: #fff;
	line-height: 23px;
}
.main-head-profile >ul> li {
	display: inline-block;
	padding: 0 5px;
}
.rank {
	margin-bottom: 40px;
}
.main {
	width: 100%;
}
.menu-item li {
	display: inline-block;
	padding: 15px 15px;
}
.main-head row {
	display: flex;
}
.ds-flex {
	display: flex;
}
.quiz-list h3 {
	font-size: 17px;
}
.quiz-list .timeDiv i {
	font-size: 18px;
}
.quiz-list {
	padding: 10px 15px;
}
.past-details-div {
	/* margin: 0px 20px; */
	padding: 15px;
}
.main-head-profile >ul> li> a {
	line-height: 53px;
}
.quiz-main {
	padding: 15px;
	width: 100%;
}
.ques-fb {
	padding: 10px 0px;
}
.quiz-bot {
	text-align: center;
}
.ques-fb {
	padding: 10px 0px;
}
.quiz-btn {
	text-align: center;
	padding-bottom: 15px;
}
.quiz-result {
	padding-bottom: 20px;
}
.quiz-list h2 {
	display: inline-block;
}
.quiz-result-padding .quiz-board {
	margin-bottom: 80px;
}
.restart {
	width: 100%;
	margin-bottom: 15px;
}
.social-ul li {
	float: none;
	display: inline-block;
}
ul.pull-right.social-ul {
	width: 100%;
	text-align: center;
	display: inline-block !important;
}
.tune-talk a {
	text-align: left;
}
.tune-talk span {
	display: inline-block;
}
.tune-talk {
	display: block;
}
.quiz-head span#msg4 {
	margin: 0 0 10px;
}
.quiz-head span#msg4, a.btn.GameRulesModal {
	display: block;
	text-align: center;/*width: 100%;*/
}
a.btn.GameRulesModal {
	float: none !important;
}
.b-1 {
	border-bottom: 1px solid #777;
	border-right: none;
	margin-bottom: 20px;
}
a.btn.GameRulesModal {
    font-size: 14px;
}
.quiz-board .qz-box {
    width: 100%;
}
.menu-item li {
    padding: 10px 15px 0;
}
.main {
	padding: 20px 0px;
}
.ftr-img img {
	padding-bottom: 70px;
}
.quiz-head {
	font-size: 15px;
}
.qz-pd {
	padding: 15px 15px;
}
.qz-r2 {
	margin-bottom: 20px;
}
.s_panel {
	padding: 15px 0 0;
}
.s_panel {
	display: block;
}
.qz-btn {
	font-size: 12px;
	padding: 4px 5px;
	margin: 10px 0 0px;
	width: 100%;
}
.qz-title span {
    font-size: 12px;
}
.qz-title h2 {
	margin: 0;
	font-size: 14px;
}
.qz-list {
    padding: 15px;
}
.next-btn {
	width: 100%;
	margin-bottom: 10px;
}
.quiz-result-data {
	padding: 0;
}
.quiz-score span i {
	font-size: 45px;
}
.quiz-main {
	padding: 0;
}
a.btn.GameRulesModal{
	padding: 10px;
	margin-top: 10px;
}
}

@media (max-width: 420px) {
.rank {
	margin-bottom: 40px;
}
.main {
	width: 100%;
}
.quiz-list h3 {
	font-size: 14px;
}
.quiz-list .timeDiv i {
	font-size: 14px;
}
.footer {
	padding: 6px 15px;
}
.result-btn {
	padding: 10px 20px;
}
.quiz-result-padding .quiz-board {
	margin-bottom: 100px;
}
}

@media (max-width: 350px) {
.qz-r3 {
	float: right;
	margin-left: 0;
}
.col-sm-5.qz-r2 h4 {
	font-size: 14px;
}
.quiz-btn a {
	display: flex;
	margin: 0 0 12px;
	padding: 9px 2px;
	font-size: 11px;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #dd1613;
}
.quiz-list h2 {
	font-size: 14px;
}
.pd-10 {
	padding: 10px 0px!important;
}
}
