/*@font-face {
    font-family: 'DS-Digital';
    src: url(../fonts/digital-font/DS-Digital.ttf.eot),
        url(../fonts/digital-font/DS-Digital.ttf.svg),
        url(../fonts/digital-font/DS-Digital.ttf.woff);
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
	font-family: 'GothamRounded', sans-serif;
	src: url(../fonts/GothamRounded-Bold/gotham-bold-webfont.eot) format("eot"),  url(../fonts/GothamRounded-Bold/gotham-bold-webfont.svg) format("svg"),  url(../fonts/GothamRounded-Bold/gotham-bold-webfont.ttf) format("ttf"),  url(../fonts/GothamRounded-Bold/gotham-bold-webfont.woff) format("woff");
	font-weight: bold;
	font-style: normal;
}
button:focus{
        outline: 0 !important;
}
.tab {
	display: none;
}
a:foucs {
outline:0 !important;
}
body {
	overflow-x: hidden !important;
    font-family: 'Roboto', sans-serif;
	/*font-family: 'GothamRounded', sans-serif;
	font-family: 'Open Sans', sans-serif;*/
	background-color: #fff;
	position: relative;
}
a, a:hover, li, li:hover, input, select, div, ul {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.main {
	width: 45%;
	margin: 0 auto;
	padding: 40px 0px 100px;
}
.quiz-main {
	padding: 50px 0px;
	width: 69%;
}
.pd-10 {
	padding: 20px 0px!important;
}
.pd-0 {
	padding: 0;
}
a:hover, a:focus {
	text-decoration: none !important;
}
ul {
	padding: 0;
}
li {
	list-style-type: none;
}
.logo {
	background-color: #fff;
}
.main-head-right {
	background-color: #fff;
}
.welcome {
	display: inline-block;
}
.welcome h2 {
	display: inline-block;
	font-size: 22px;
	color: #fff;
}
.welcome span {
	display: inline-block;
	font-size: 22px;
	padding: 0px 5px;
	color: #fff;
}
.welcome h3 {
	display: inline-block;
	font-size: 18px;
	color: #fff;
}
 .main-head{
    border-bottom: 1px solid #e8e8e8;
    /*padding: 5px 0;*/
    background: #fff;
}
.main-head-profile {
        padding-right: 0;
}
.main-head-profile >ul> li> a {
	color: #272727;
	line-height: 52px;
    font-size: 20px;
}
.main-head-profile >ul> li {
	display: inline-block;
	padding: 0 10px;
}
.main-head-profile ul {
	margin-bottom: 0;
}
.dropdown.profile a i {
	padding-right: 15px;
}
.main-menu {
	/*box-shadow: 5px 0px 10px rgba(0,0,0,.25);
	-webkit-box-shadow: 5px 0px 10px rgba(0,0,0,.25);
	-o-box-shadow: 5px 0px 10px rgba(0,0,0,.25);
	-moz-box-shadow: 5px 0px 10px rgba(0,0,0,.25);*/
	background-color: #fff;
}
.menu-item span {
	/*display: inline-block;*/
	font-size: 30px;
	/*border: 1px solid #2d2d2d;*/
	border-radius: 100%;
	width: 60px;
	height: 60px;
	/*background-color: #2d2d2d;*/
	color: #fff;
}
.menu-item {
	color: #fff;
}
.menu-item i {
	line-height: 58px;
	padding: 0px 0px;
}
.menu-item p {
	display: inline-block;
	font-size: 20px;
	color: #2d2d2d;
}
.menu-item .add-img p {
	font-size: 13px;
	padding-right: 10px;
	font-style: italic;
	color: #888;
}
.menu-item li {
	display: inline-block;
	padding: 15px 30px;
}
.rank p {
	text-transform: uppercase;
	font-size: 18px;
	display: inline-block;
	color: #2d2d2d;
}
.rank h5 {
	text-transform: uppercase;
	margin-top: -16px;
	color: #dd1613;
}
.profile img {
	width: 45px;
	height: 45px;
	border-radius: 100%;
}
.rank h2 {
	color: #dd1613;
	margin: 0 auto;
}
a.btn.GameRulesModal {
	background: #dd0613;
	color: #fff;
	text-transform: none;
	font-size: 12px;
	border-radius: 60px;
}
.show-quiz-lh {
	line-height: 8px;
}
.rank span {
	font-size: 18px;
	display: inline-block;
	color: #c7c7c7;
}
.rank .progress {
	height: 5px;
}
.score p {
	text-transform: uppercase;
	font-size: 18px;
	display: inline-block;
	color: #2d2d2d;
}
.score h5 {
	text-transform: uppercase;
	margin-top: -16px;
	color: #ea5442;
}
.score h2 {
	color: #ea5442;
	margin: 0 auto;
}
.score span {
	font-size: 18px;
	display: inline-block;
	color: #c7c7c7;
}
.score .progress {
	height: 5px;
}
p.score-info {
	color: #ea5442;
	padding: 0 10px;
	font-size: 18px;
	
}
.body-div {
	padding-bottom: 40px;
}
.rank-board {
	box-shadow: 0px 0 -1px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.15);
	-o-box-shadow: 5px 0px 10px rgba(0,0,0,.25);
	-moz-box-shadow: 5px 0px 10px rgba(0,0,0,.25);
	padding: 15px;
	background-color: #fff;
}
.postList {

    background: #fff;

}
.quiz-list img {
	display: inline-block;
	float: left;
	padding-right: 20px;
}
.quiz-list h2 {
	display: flex;
	font-size: 29px;
	color: #dd1613;
	font-weight: 700;
}
.start-quiz {
	display: flex;
	vertical-align: middle;
	text-align: center;
	align-items: center;
	justify-content: center;
	/*border: 1px solid #dd1613;*/
	width: 160px;
	background-color: #dd0613;
	margin: 0 auto;
	color: #fff;
	font-weight: 600;
	border-radius: 5px;
	margin: 40px auto;
}
.start-quiz a {
	margin: 0 auto;
	line-height: 50px;
	font-size: 21px;
	font-weight: 100;
	color: #fff;
}
.quiz-head {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 10px 15px;
	border-bottom: 1px solid #777;
	background: #fff;
}
.quiz-head i {
	color: #dd0613;
	font-size: 24px;
}
.quiz-board {
	box-shadow: 0px 0 -1px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.15);
	-o-box-shadow: 5px 0px 10px rgba(0,0,0,.25);
	-moz-box-shadow: 5px 0px 10px rgba(0,0,0,.25);
	background-color: #fff;
}
.quiz-list {
	padding: 10px 40px;
}
.quiz-list h3 {
	display: inline-block;
	font-size: 22px;
}
.quiz-list .timeDiv i {
	color: #dd1613;
	padding: 0 10px;
	font-size: 22px;
}
.past-quiz {
	padding-top: 40px;
}
.past-quiz-score {
	border: 1px solid #2d2d2d;
	border-radius: 100%;
	display: inline-block;
	width: 100px;
	height: 100px;
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	background-color: #2d2d2d;
	text-align: center;
}
.past-quiz-score span {
	line-height: 95px;
}
.past-quiz-box p {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 10px;
	color: #2d2d2d;
}
.past-quiz-1 {
	padding: 20px;
}
.view-details {
	text-align: center;
	border-bottom: 1px solid #a6a6a6;
}
.view-details a {
	font-size: 14px;
	background-color: #DD0613;
	border: 1px solid #DD0613;
	display: inline-block;
	width: 125px;
	height: 41px;
	border-radius: 5px;
	text-transform: capitalize;
	color: #fff;
	padding: 9px 0px;
}
.view-details h4 {
	color: #dd0613;
	font-size: 14px;
	font-weight: 100;
}
.past-quiz-details {
/* padding: 15px; */
}
.past-quiz-time-rank {
	text-align: center;
}
.past-quiz-time-rank span {
	font-size: 18px;
	font-weight: 700;
	color: #4d627b;
}
.past-quiz-time-rank h5 {
	font-size: 14px;
	font-weight: 600;
	margin: 0 auto;
}
.past-details-div {
	/* margin: 0px 20px; */
	padding: 30px;
}
.shear-details {
	padding-right: 0;
}
.shear-details a {
	border: 1px solid;
	border-radius: 100%;
	display: inline-block;
	width: 30px;
	background-color: #ebebeb;
	height: 30px;
	text-align: center;
	color: #fff;
}
.shear-details i {
	line-height: 28px;
	color: #2d2d2d;
}
.p-text-active-quiz {
	text-align: center;
	font-weight: 600;
	padding: 10px;
}
.footer {
	/*background-color: #2d2d2d;
    text-align: center;
    color: #fff;
    padding: 6px 0px;
    font-weight: 600;*/
	background-color: #000;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 6px 0px;
	font-weight: 600;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.quesDiv {
	padding: 40px 0px;
	width: 100%;
	padding-top: 30px;
	margin-left: 0;
	margin-bottom: 0;
}
.quesDiv .list-group-item.active, .quesDiv .list-group-item.active:focus, .quesDiv .list-group-item.active:hover {
	background-color: #dd1613;
	border-color: #dd1613;
}
span.state-icon {
	padding-right: 6px;
	color: black;
	display: none;
}
.quesDiv >li {
	/*width: 100%;
	margin-bottom: 5px;
	text-overflow: wrap;
	border: 2px solid hsla(60,1%,84%,.7);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 15px;*/
}
.quesDiv >li:hover {
	border-color: #dd1613;
}
.ques-list p {
	margin-bottom: 0;
}
.quiz-info {
	background-color: #000;
	font-size: 14px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 300;
}
.clock span {
	font-size: 35px;
	display: inline;
	font-weight: 600;/*text-align: center;
    font-size: 50px;
    border: 5px solid #ffffff;
    border-radius: 100%;
    display: inline-block;
    width: 125px;
    height: 125px;
    line-height: 120px;*/
}
.clock {
	color: #00ff73;
	/* margin-top: 92px; */
	background-color: #2d2d2d;
	/* text-align: center; */
	padding: 0px 10px;
	border: 2px solid #dd1613;
	margin-bottom: 10px;
	font-family: 'DS-Digital';
	display: inline-block;
}
.clock p {
	background-color: #2d2d2d;
	color: #fff;
	margin-top: 92px;
	text-align: center;/*background-color: #b5b5b5;
    padding: 10px 10px;
    display: inline-block;*/
}
.clock h2 {
	display: inline-block;
	font-size: 34px;
	text-transform: uppercase;
	width: 123px;
	padding: 0px 5px;
	margin-top: 10px;
}
.next-btn {
	border: none;
	font-size: 16px;
	/* width: 80px; */
	height: 35px;
	display: inline-block;
	text-align: center;
	padding: 0px 10px;
	color: #f2f2f2;
	/*background-color: #dd1613;*/
	background-color: #dd0613;
	border-radius: 3px;
}
.quiz-btn {
	text-align: right;
	padding-bottom: 15px;
}
.ques-fb h5 {
	color: #777;
	font-size: 14px;
	margin: 0;
	font-weight: 500;
}
.ques-fb span {
	color: #999;
	font-size: 14px;
}
.timer {
	background-color: #2d2d2d;
	font-size: 35px;
	color: #fff;
	line-height: 43px;
	padding: 10px 10px;
	height: 65px;
	float: right;
}
.result-thank {
	font-size: 18px;
	font-weight: 600;
	display: inline-block;
	padding-top: 14px;
}
.quiz-score span i {
	font-size: 50px;
	display: inline-block;
	color: #dd1613;
}
.quiz-score span svg {
	font-size: 55px;
	color: #dd1613;
}
.quiz-result p {
	color: #777;
	margin: 0;
}
.quiz-result h2 {
	font-size: 35px;
	margin: 0;
	font-weight: 600;
	color: #5a5a5a;
}
.student-sug {
	padding: 10px 0;
}
.student-sug h4 {
	font-size: 16px;
	font-weight: 700;
}
.quiz-result-data {
	padding: 30px 25px;
}
.restart {
	color: white;
	/*background-color: #dd1613;*/
	padding: 10px 25px;
	/*border: 1px solid #dd1613;*/
	border-radius: 6px;
	background-color: #dd1613;
	border: 1px solid #dd0613;
}
.result-btn {
	padding: 20px 40px;
}
.quiz-result-padding {
	padding: 100px 0px;
}
.main-1 {
	margin: 0 auto;
	padding: 40px 0px 100px;
}
.profile-pic img {
	float: initial;
	display: inline-block;
}
.btn-update {
	background-color: #dd0613;
	color: #fff;
}
.profile-pic h2 {
	font-size: 24px;
	font-weight: 400;
}
.btn-mar {
	padding-top: 20px;
}
.ds-flex {
	display: flex;
}
.profile-pic img {
	height: 150px;
	width: 150px;
}
.school_name {
	font-size: 21px;
	font-weight: 500;
	color: #4CAF50;
}
ul#SortAnswer li {
	padding: 11px;
	background: #00bcd46b;
	margin: 10px 0;
	border-radius: 7px;
	font-size: 16px;
}
.qz-list {
	padding: 20px 30px;
	border-bottom: 1px solid #b1b1b1;
}
.btn.sel-quiz-btn {
	background-color: #dd0613;
	color: #fff;
}
.qz-details h2 {
	display: inline-block;
	font-size: 22px;
	color: #dd0613;
	font-weight: 600;
}
.qz-details h3 {
	font-size: 18px;
	margin: 0;
	padding-top: 5px;
}
.qz-details span {
	display: inline-block;
	font-size: 22px;
	padding-right: 20px;
	color: #dd1613;
}
.qz-name {
	/*border-bottom: 1px solid #B1B1B1;*/
	padding: 10px 30px;
}
.qz-round {
	border-bottom: 1px solid #b1b1b1;
}
.qz-img img {
	height: 45px;
	width: 45px;
}
.qz-title h2 {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	/*display: inline-block;*/
	color: #dd1613;
}
.qz-btn {
	color: #ffffff;
	background-color: #dd0613;
}
.all-assi-quiz {
	padding: 10px 0px;
	border-bottom: 1px solid #ccc;
}
/*===============28/04/2018======================*/
.qz-box {
/*border: 1px solid #dd1613;*/
}
.qz-box .quizeBox {
	border: 1px solid #dd1613;
	/* display: inline-block; */
	margin: 0 0 20px;
	min-height: 120px;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding: 8px;
	border-radius: 25px;
	background: #dd1613;
	flex-direction: column;
}
.enter-quiz {
    background: transparent;
    border-radius: 40px;
    padding: 13px 15px;
    color: #272727;
    font-weight: bold;
    border: 2px solid transparent;
    width: 80%;
    text-transform: uppercase;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #fdc60a , #ee713b);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

/*.enter-quiz {*/
/*    background: transparent;*/
/*    border-radius: 40px;*/
/*    padding: 13px 15px;*/
/*    color: #eb2e22;*/
/*    font-weight: bold;*/
/*    border: 2px solid #eb2e22;*/
/*    width: 80%;*/
/*    text-transform: uppercase;*/
/*}*/
.enter-quiz:focus,.enter-quiz:hover{
    color: #272727;
    /*color: #eb2e22;*/
    outline: 0;
}
.qz-pd {
	padding: 40px 15px;
	/*display: inline-block;*/
	width: 100%;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.qz-box h2 {
	font-size: 20px;
	margin: 0;
	padding: 0px 0px 20px;
	color: #fff;
}
.qz-r {
	border: 1px solid #dd1613;
	display: inline-block;
	margin: 0 0 20px;
	min-height: 150px;
	/* display: flex; */
	height: 100%;
	justify-content: center;
	align-items: center;
	padding: 15px;
	border-radius: 5px;
	background: #dd1613;
	margin: 10px;
}
.qz-r h2 {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	padding: 10px 0px;
	color: #fff;
}
.qz-r h3 {
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	padding-bottom: 10px;
	color: #fff;
}
.qz-r span {
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	display: block;
	padding-bottom: 10px;
	color: #fff;
}
.btn-qz-r {
	color: #2d2d2d;
	background-color: #fff;
	font-size: 14px;
	font-weight: 600;
}
.round-btn a {
	display: flex;
	margin: 0 0 10px;
	justify-content: center;
	align-items: center;
}
.black-btn {
	background: #2d2d2d;
	color: #fff;
}
.black-btn:hover {
	color: #fff;
}
/* Add this to style css */
/*----------------02-05-2018-----------------*/
.qz-r-b {
	text-transform: uppercase;
	margin: 30px;
	padding: 15px;
	box-shadow: 2px 2px 5px -1px #dd1613;
	border: 1px solid #dd1613;
	border-radius: 6px;
}
.stn-sn h2 {
	font-size: 18px;
	font-weight: 600;
	color: #555;
}
.b-1 {
	border-right: 1px solid #777;
}
.menu-item img.active {
	width: 50px!important;
}
.menu-item img {
	width: 30px;
	display: block;
	margin: 0 auto;
}
.add-img img {
	display: inline-block;
}
.add-img {
	text-align: right;
	position: absolute;
	top: 72px;
	right: 20px;
}
.pd-b-0 {
	padding-bottom: 0;
	margin-bottom: 0;
}
.ftr-img img {
	padding-bottom: 50px;
}
.social-ul li {
	padding: 11px;
	background: #ff0400;
	margin: 5px;
}
.social-ul li span {
	color: #fff;
}
.result-detail {
	padding: 20px;
}
.result-detail h3 {
	padding: 8px;
}
.tune-talk {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}
.tune-talk-img {
	width: 40px;
	display: inline-block;
}
.tune-talk a {
	display: inline-block;
	color: #fff;
	font-size: 12px;
	font-style: italic;
}
.tune-talk .result-thank {
	padding-top: 0;
}
#ViewRulesofGame .modal-title {
	font-weight: bold;
	color: #dd1613;
}
.red-btn {
	/*background: #dd0613;*/
	background-image: linear-gradient(to right, #fdc60a , #ee713b);
    border: none;
	color: #fff;
	text-transform: none;
	font-size: 12px;
	border-radius: 60px;
}
.rank-row {
	border: 2px solid #F44336;
}
.rank-row-loser{
   	border: 2px solid #b3a8a7; 
}
.show_more_main {
	text-align: center;
}
.show_more {
	background: #131515;
	color: #fff;
	margin: 10px;
}
.show_more:hover {
	color: #fff;
}
.loding_txt {
	width: 94px;
}
.no-result {
	padding: 20px;
	font-size: 12px!important;
}
.qz-r2 {
	border: 1px solid #e6e1e1;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 0;
	background: transparent;
	/* box-shadow: 0px 0px 9px #cecece; */
}
.qz-r3 {
	width: 45%;
	border: 1px solid #ccc;
	display: inline-block;
	margin: 0 0 20px;
	min-height: 150px;
	/* display: flex; */
	height: 195px;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-radius: 0;
	background: transparent;
	box-shadow: 2px 2px 4px #9d9d9d;
	margin: 15px 10px;
	cursor: pointer;
}
.qz-r3 img {
	width: 100%;
	height: 100%;
}
.qz-r3 h3 {
	color: #000;
	display: none;
}
.qz-r3:hover h3 {
	position: absolute;
	display: block;
	bottom: 0;
	font-size: 18px;
}
.quiz-btn a {
	display: flex;
	margin: 0 0 10px;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #dd1613;
}
.qz-r2 span {
	padding-bottom: 10px;
	display: block;
}
.s_panel {
	width: 100%;
	box-shadow: 0px 0px 9px #cecece;
	-webkit-box-shadow: 0px 0px 9px #cecece;
	-o-box-shadow: 0px 0px 9px #cecece;
	-moz-box-shadow: 0px 0px 9px #cecece;
	background-color: #fff;
	padding: 15px 0;
	display: flex;
	margin-bottom: 20px;
}
.content {
	overflow: hidden;
	height: 100%;
}

.content-image {
	width: 100%;
}
.content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	bottom: -5px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	color: #000;
}
.content-details p {
	color: #666;
	font-size: 16px;
	margin-bottom:0;
}

span.refer_point {
	display: inline;
	position: absolute;
	top: -12px;
	left: 18px;
	background: #000000;
	border-radius: 5px;
	padding: 2px 5px;
	border: 1px solid #000;
	z-index: 9;
	font-size: 12px;
	color: #fff;
}
.quiz-btn a:hover {
	color: #fff;
}


.s_main{
    width: 768px;
    margin: auto;
    background: #fff;
}



.quiz_title{
   display: table;
}
.quiz_title img {
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    margin-right: -15px;
}
.quiz_title h3 {
    /* float: left; */
    display: table-cell;
    vertical-align: middle;
}

.quiz_title h3{
           color: #272727;
    font-size: 22px;
    font-weight: bold;
    z-index: 9;
    position: relative;
}
span.caret {
    color: #eb2e22;
    border-top: 12px dashed;
    border-top: 4px solid\9;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent; 
}

.triangle{
    width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid #eb2e22;
	border-bottom: 50px solid transparent;
}
.active_quiz_title {
    margin: 0;
    line-height: 1;
}
.quiz_div {
} 
.np{
    padding: 0 !important;
}
.quiz_div .enter-quiz {
    margin: 22px 0;
}
.question_div{
      width: 90%;
    margin: auto;
    position: relative;
        margin-bottom: 20px;
}
.question_div_dashboard:before { 
    height: 80% !important;
}

.question_div:before {
    content: "";
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 0px 0px 130px 0px #dadada;
    width: 90%;
    position: absolute;
    height:90%;
}
.s_table .table {
    margin-bottom: 0px !important;
}
.fortable{
       max-height: 450px !important;
    overflow-y: auto;
    margin-bottom: 65px;
    overflow-x: hidden;
    padding-bottom: 30px;
} 
.question_block{    
        /*  border: 1px solid #eee;*/
    border-radius: 15px;
    /*box-shadow: 0px 0px 130px 0px #dadada;*/
    width: 90%;
}
.question_block h2 {
    position: relative;
    font-size: 24px;
    padding-left: 20px;
    margin: 0;
    font-weight: bold;
    padding: 20px;
    color: #272727;
     padding-bottom: 55px !important;
}

.score_title{
        padding-top: 20px;
    padding-left: 20px;
    color: #a2a2a2;
    margin: 0;
    font-size: 15px;
    position: relative;
}
.score_title:before {
           content: '';
    position: absolute;
    left: auto;
    top: 40px;
    width: 20px;
    height: 4px;
    /*background: #eb362a;*/
    background-image: linear-gradient(to right, #fdc60a , #ee713b);
    border-radius: 5px;
}
.tune_title{
        padding-top: 0px;
    padding-left: 20px;
    color: #a2a2a2;
    margin: 0;
    font-size: 15px;
    position: relative;
}
.tune_title:before {
        content: '';
    position: absolute;
    left: auto;
    top: 20px;
    width: 20px;
    height: 4px;
    /*background: #eb362a;*/
    background-image: linear-gradient(to right, #fdc60a , #ee713b);
    border-radius: 5px;
}
.question_block h3{
        padding-left: 20px;
    font-weight: bold;
}
.question_block h2:before {
     content: '';
    position: absolute;
    left: auto;
    top: 58px;
    width: 100px;
    height: 4px;
    /*background: #eb362a;*/
    background-image: linear-gradient(to right, #fdc60a , #ee713b);
    border-radius: 5px;
}
.question_start{
         text-align: right;
    position: relative;
}
.start_quiz_btn{
    background: #eb362a;
    background-image: linear-gradient(to right, #fdc60a , #ee713b);
    /*color: #fff;*/
    color: #272727;
    border: none;
    border-radius: 35px;
    margin-top: -25px;
    padding: 15px 20px;
    width: 50%;
    font-size: 14px;
    font-weight: bold;
    z-index: 99;
    position: relative;
}
.start_quiz_btn:focus,.start_quiz_btn:hover{
    /*color: #fff;*/
    color: #272727;
    outline: 0;
}
.notice_div img {
    width: 60px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.notice_div p {
    font-size: 16px;
    padding: 10px;
    color: #272727;
}
.result_pad{
    padding-bottom: 10px;
}
.result_section{
    padding-bottom: 10%;
}
.notice_div {
    width: 90%;
    margin: auto;
}
.my_footer {
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    background: #fff;
}
.my_footer ul{
    margin-bottom: 0;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.dropdown ul.dropdown-menu {
       border-radius: 10px;
    box-shadow: none;
    margin-top: 20px;
    right: 0;
    left: auto;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
.header_dropdown {
    width: 180px;
    padding: 0;
}

.header_dropdown li a{ 
   padding: 8px 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: #272727;
    font-weight: bold;
}
.header_dropdown li.active a{
     background-image: linear-gradient(to right, #ffbeba , white);
    background-image: -webkit-linear-gradient(to right, #ffbeba , white);
    background-image: -moz-linear-gradient(to right, #ffbeba , white);
    background-image: -o-linear-gradient(to right, #ffbeba , white); 
    color: #ec372c !important;
}
.header_dropdown li:first-child a{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header_dropdown li:last-child a{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.header_dropdown li a:hover{
     background-image: linear-gradient(to right, #ffbeba , white);
    background-image: -webkit-linear-gradient(to right, #ffbeba , white);
    background-image: -moz-linear-gradient(to right, #ffbeba , white);
    background-image: -o-linear-gradient(to right, #ffbeba , white); 
    color: #ec3529;
        transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.header_dropdown li a:hover i{
        color: #ec3529;
    background: #fff;
        transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.header_dropdown li.active a i {
    background: #fff;
    color: #ec3529;
}


.header_dropdown li a i{ 
       color: #ffffff;
    width: 35px;
    background: #ed3227;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 16px;
    height: 35px;
    text-align: center;
    padding: 0 !important;
    line-height: 35px;
}

.user_div{
        width: 50%;
    margin: auto;
}
.user_div img{
        border: 1px solid #eee;
    padding: 2px;
        border-radius: 50%;
    width: 150px;
    height: 150px;
}
.user_div h2{
       margin-top: 10px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0; 
}
.user_div h3{
    margin-top: 8px;
    font-size: 18px;
}

.alert_profile{
	    margin: 18px;
    color: #ed2f23;
    background: #ffebe9;
    border: none;
    border-radius: 0;
}
.alert_profile_success{
	  
margin: 18px;
    color: #464646;
    background: #e1f7c8;
    border: none;
    border-radius: 0;

}


.input_file {
         position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    width: 40px;
}
.user_div .upload_btn{ 
       
      position: absolute;
    bottom: 35%;
    border: none;
    font-size: 25px;
    background: #ed2f23;
    color: #ffffff;
    border-radius: 50%;
    padding: 3px 8px;
    cursor: pointer;
    display: inline-block;
}
.profile_form{
        width: 85%;
    margin: auto;
        padding-bottom: 8%;
}

.user_div .upload_btn{ 
         position: absolute;
    bottom: 35%;
    border: none;
    font-size: 25px;
    background: #ed2f23;
    color: #ffffff;
    border-radius: 50%;
    padding: 3px 8px;
}
.profile_form{
        width: 85%;
    margin: auto;
        padding-bottom: 8%;
}

.profile_form label{
     color: #b3b3b3;
    text-transform: uppercase;
    margin-left: 13px;
    font-size: 12px;
}

.profile_form .form-control{
    padding: 20px 15px !important;
    border-radius: 20px;
}
.profile_form select.form-control{
        padding: 10px 15px !important;
    height: auto;
     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url(../../student/images/arrowdown.png) no-repeat 95% center;
}
.profile_form .button_1{
   background: #ed2f23; 
    color: #fff;
    border-radius: 50px;
    padding: 5px;
    width: 120px;
    border: 2px solid #ed2f23;
    font-size: 14px;
    text-transform: uppercase;
}

.profile_form .button_2{
        background: transparent;
    border: 2px solid;
    color: #ed2f23;
    font-weight: 600;
    border-radius: 50px;
    padding: 5px;
    width: 120px;
    font-size: 14px;
    text-transform: uppercase;
}

.tune_talk .button_1{
    /*background: #ed2f23; 
    border: 2px solid #ed2f23;*/
    background-image: linear-gradient(to right, #fdc60a , #ee713b);
    border: none;
    color: #fff;
    border-radius: 50px;
    padding: 5px;
    width: 160px;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.tune_talk .button_2{
        background: transparent;
    border: 2px solid;
    color: #ed2f23;
    font-weight: 600;
    border-radius: 50px;
    padding: 5px;
    width: 160px;
    font-size: 14px;
    text-transform: uppercase;
}

.tune_talk h3 {
    padding-left: 20px;
    font-weight: normal;
    
     margin-bottom: 15px;
}
h4.tune_title span {
    font-size: 25px;
    color: #404040;
    line-height: 0;
}
.tune_talk .question_block{
        padding: 10px 0 40px;
}
.tune_talk .question_start{
          position: absolute;
    right: 0px;
    top: 20px;
}

.before100:before{ 
    height: 100% !important;
}
.tune_talk_bottom img {
    width: 90%;
    /*padding: 10px;*/
     border-radius:0px;
}


 

.quiz_title h3 span {
    font-weight: normal;
    font-size: 20px;
}
.tune_talk_history{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.tune_talk_history h4{
        font-size: 18px;
    font-weight: 600; 
}
.tune_talk_history h4 span{ 
    font-weight: normal;
}
.tune_talk_history h5{
        font-size: 15px;
    font-weight: 600;
}
.tune_talk_history h5 span{
    font-weight: normal;
}

.gradient{ 
     background-image: linear-gradient(to left, #ffbeba , white);
    background-image: -webkit-linear-gradient(to left, #ffbeba , white);
    background-image: -moz-linear-gradient(to left, #ffbeba , white);
    background-image: -o-linear-gradient(to left, #ffbeba , white); 
    
        padding: 5px 0;
    margin-top: 10px;
}
.gradient h3{   
      color: #ed3327;
    font-size: 18px;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 10px;
    font-weight: 600;
}
.tune_talk_history_block {
    margin-top: 15px;
}

.tune_talk_history_block .question_block{
          padding-bottom: 20px;
    padding-top: 5px;
    position: relative;
    z-index: 9;
}
.tune_talk_history_block .question_start{
        padding: 0;
    margin: 5px 0;
}
.tune_talk_history_block .textbox{
    width: 80%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    box-shadow: 0px 0px 130px 0px #dadada;
    height: 40px;
}
.tune_talk_history_block h3{
      font-weight: normal;
    font-size: 17px;
        width: 90%;
    
}

.tune_talk_history_block .button_1{
    /*background: #ed2f23;
    border: 2px solid #ed2f23;*/
    background-image: linear-gradient(to right, #fdc60a , #ee713b);
    border: none;
    position: relative;
    color: #fff;
    border-radius: 50px;
    padding: 5px;
    width: 130px;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    z-index: 9;
}
.tune_talk_history_block .button_2{
    background: transparent;
    border: 2px solid;
    color: #ed2f23;
    font-weight: 600;
    border-radius: 50px;
    padding: 5px;
    width: 130px;
    font-size: 14px;
    text-transform: uppercase;
}
.tune_talk_history_block p{
        margin: 0;
    font-size: 13px;
}
.tune_talk_history_block a{
        color: #ec362a;
    font-size: 13px;
    font-weight: bold;
    text-shadow: none;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
    margin-top: 5px;
}
.styled-checkbox + label:before {
     content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #e0dede;
    border-radius: 15px;
}
.styled-checkbox:hover + label:before {
   
}
.styled-checkbox:focus + label:before {
  /*box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);*/
}
.styled-checkbox:checked + label:before {
   background:#ffd4d1;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  
      content: '';
    position: absolute;
    left: 5px;
    top: 11px;
    background: #ed3226;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #ed3327, 4px 0 0 #ec3428, 4px -2px 0 #ed3226, 4px -4px 0 #ed3227, 4px -6px 0 #ed3227, 4px -8px 0 #ec3428;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
} 
.custom_checkbox {
   background: #fff;
    width: 88%;
    float: right;
    box-shadow: 0px 0px 130px 0px #dadada;
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.custom_checkbox h4 {
    display: inline-block;
    float: left;
        font-size: 14px;
}
.tankTune{
    text-align: center;
}
.tankTune img{
           position: relative;
    width: 50px;
    z-index: 99;
}
.tankTune p{
       display: inline; 
}
.thankDiv{
    
}
.thankDiv:before {
    content: "";
    border: 0px solid #eee;
    border-radius: 15px;
    box-shadow: none;
    width: 90%;
    position: absolute;
    height: 90%;
}
.thankDiv .question_block { 
    padding: 10px;
        margin-bottom: 10px;
}
 
.thankDiv .question_start { 
    text-align: center;
}
.symobol {
    position: absolute;
    background-image: linear-gradient(to right, #fdc60a , #ee713b);
    top: 35%;
    left: 30px;
    /*background: #ed2f23;*/
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    border-radius: 50%;
    color: #fff;
}
.thankDiv h3 {
      margin: 0;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    margin-top: 3px;
}
.thankDiv h5 {     color: #b3b2b2;
    margin-bottom: 0;margin-top: 25px;}
.thanksocial {
    margin-top: 20px;
}
.ml-18{
	margin-left:18px;		
}
.thanksocial a i{
    background-image: linear-gradient(to right, #fdc60a , #ee713b);
    border: none;
       text-align: center;
    color: #fff;
    /*background: #fff;*/
    width: 50px;
    border-radius: 50%;
    /*border: 2px solid #ed2f23;*/
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    margin-top: 15px;
}

/*.graybtn{
	background: #6b6868!important;
}*/
.graybtn {
    background-image: linear-gradient(to right, #fdc60a , #ee713b);
    border: none;
    color: #272727;
}
.redbtn{
	background: #eb362a!important;
}
.thankDiv .question_block:before {
    content: "";
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 0px 0px 130px 0px #dadada;
    width: 90%;
    position: absolute;
    height: 100%;
    left: 12%;
}
.pdt30{
    padding-top: 30px;
}
.quiz_div .button_1 {
   margin-top: 30px;
    background: #ed2f23;
    color: #fff;
    border-radius: 50px;
    padding: 5px;
    width: 150px;
    border: 2px solid #ed2f23;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.quiz_ranking select{
   width: 90%;
    margin-left: 10%;
    box-shadow: 0px 0px 130px 0px #dadada;
    border: 1px solid #eee;
    font-size: 16px;
    padding: 15px 10px;
    border-radius: 10px;
        background: white url(../../student/images/arrowdown.png) no-repeat 95% center;
    -webkit-appearance: none;
}
.quiz_ranking select:focus {
    outline: 0;
}
.s_table {
          width: 90%;
    position: relative;
    border: none;
    padding: 10px;
    z-index: 99;
} 
.s_table p{
text-align: center;
    color: #777;
} 
.s_table span{
   color: #fff;
    background: #ed3227;
    padding: 5px 10px;
    border-radius: 50%; 
}



*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 4rem;
  min-height: 100%; 
}

.my_footer{
     position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem 0;
    background-color: #fff;
    text-align: center;
    border-top: none !IMPORTANT;
}
.s_main {
    padding-bottom: 50px; 
    height: 100%;
}
body.stop-scrolling {
    height: auto !important;
    overflow: hidden;
} 

     .tune_talk_bottom {
    text-align: center;
    width:90%;
    padding-bottom: 10px;
}
    .tune_talk_bottom img {
    width: 50%;
        margin: auto;
    }
.s_rank .question_block {
    padding-bottom: 0;
    padding-left: 12px;
}

.quiz_school h2{
    padding-bottom: 30px !important;
}
.quiz_school h5.ml-18 {
    margin-bottom: 30px;
    font-size: 16px;
}
.rank_btn .button_1{
          margin-top: 12px !important;
    width: auto;
    padding: 5px 8px;
    float: right;
}
.border0 thead tr th{
	border-bottom: 0px solid #ddd;
}
/*========23-08-2018==========*/
.col-xs-12.text-center.logo {
    background-image: linear-gradient(to right, #fdc60a , #ee713b);
}
.col-xs-12.text-center.logo p {
    margin: 0;
    /*max-width: 56.88%;*/
    max-width: 770px;
    margin: 0 auto;
    font-size: 20px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 6px 0;
    text-transform: uppercase;
}
.col-xs-12.text-center.logo span {
    float: left;
    padding-top: 3px;
}
.col-xs-12.text-center.logo p a {
    color: #fff;
    text-decoration: none;
}
/*----27-08-2018----*/
.back-btn-position {
	max-width: 770px;
	position: relative;
	margin: 0 auto !important;
	padding: 0 !important;
}
.back-btn {
	position: absolute;
	left: 0;
	top: 25%;
	font-size: 20px;
    color: #fff;
	/* bottom: 0; */
}
.back-btn:hover, .back-btn:focus {
	color: #fff;
}
/*=======27-08-2018=======*/
.graybtn:active {
    background-image: linear-gradient(to right, #fdc60a , #ee713b);
}
.enter-quiz:active {
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #fdc60a , #ee713b);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
.start_quiz_btn:active {
	background-image: linear-gradient(to right, #fdc60a , #ee713b);
}


@media (max-width:767px) {

.s_main{
    width: 100% !important;
    overflow-x: hidden;
}
    .symobol { 
    left: 0 !important;
    }
    .tune_talk h3 {
    width: 60%;
    font-size: 25px;
    }
.modal-dialog {
    width: 94% !important;
}
.col-xs-12.text-center.logo p{
  font-size: 26px !important;  
}
   /*----27-08-2018----*/
   .col-xs-12.text-center.logo {
	padding: 0;
}
}

@media (max-width:500px) {
  .question_block h2 {
    position: relative;
    font-size: 18px;
    }
    .welcomeModal {
    padding: 6% 4% !important;
}
}

@media (max-width:400px) {
    .profile_form .button_1{
    width:100%;
    margin-bottom:5px;
    } 
     .profile_form .button_2{
    width:100% !important; 
    } 
     figure.snip0016 {
    width: 100% !important; 
}
    .welcomeModal .s_button .button_1 {
    float: left;
    background: #a24ec7;
    border: 1px solid #4a0158;
    color: #fff;
    border-radius: 15px;
    padding: 5px 10px;
    width: 100px !important;
    font-size: 10px;
    }
    .welcomeModal .s_button .button_2 {
    float: right;
    /*background: #e43025;
    border: 1px solid #b71208;*/
    background-image: linear-gradient(to right, #fdc60a , #ee713b);
    border: none;
    color: #fff;
    border-radius: 15px;
    padding: 5px 10px;
    width: 100px !important;
    font-size: 10px;
}
	 .tune_title {
    font-size: 11px;
    }
	 .profile img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
     
	  .logo a img {
       margin-top: 5px;
}
    .my_footer {
    padding: 5px;
}
   .before100:before {
    height: 100% !important;
    width: 100%;
}
    
     .tune_talk_bottom {
    text-align: left;
     width: 100%;
}
  .tune_talk_bottom img {
    width: 100%;

    }
    .logo {
    /*padding-right: 0;*/
    padding: 0 !important;
}
    .start_quiz_btn {
    font-size: 10px !important;
    }
    .quiz_title img {
    width: 60px !important;
    }

    .enter-quiz {
    margin: 16px 0px 0px -8px !important;
    font-size: 10px;
    width: 100%;
    padding: 5px;
    }
    
    .quiz_title h3 {
    color: #272727;
    font-size: 14px;
    font-weight: bold;
}
    
    .tune_talk .question_start {
   position: relative;
    right: 0px;
    text-align: center;
    top: 0;
}
    .tune_talk .button_1, .tune_talk .button_2 {
         width: 90%;
    margin: 5px auto;
    }
   .tune_talk h3 {
   font-size: 16px;
    }
    .tune_talk_history h4 {
    font-size: 14px;
    }
    .col-xs-12.text-center.logo p{
    font-size: 30px;  
    }
  
}

@media (max-width:320px) {
    .browse_file img {
    padding: 0;
    border: none;
   width: 25px !important;
    height: 25px !important;
}
.user_div .upload_btn {
    right: 30px;
    padding: 3px 5px;
        line-height: 0;
}
	.main-head { 
    padding: 0px 0;
    }
    .quiz_div .button_1{
           width: auto;
    margin-top: 16px;
    font-size: 10px;
    position: relative;
    z-index: 9;
    padding: 5px 10px;
    }
    .question_block h2 {
    position: relative;
    font-size: 18px;
}
    .start_quiz_btn {
    font-size: 10px !important;
    width: auto;
}
    .notice_div img {
    width: 50px;
    }
     .notice_div p {
    font-size: 12px;

        }
}





.header_dropdown li a i { 
    width: 35px;
    height: 35px;
    display: inline-block;
    background-size: cover !important;
    vertical-align: middle;
}
.header_dropdown li:hover i {
    background-position: 0 35px !important;
}

.header_dropdown li a i.icon1  {
    background: url(../../../assets/student/images/new_icon/dashboard.png); 
}
.header_dropdown li a i.icon2  {
    background: url(../../../assets/student/images/new_icon/quiz_icon.png); 
}
.header_dropdown li a i.icon3  {
    background: url(../../../assets/student/images/new_icon/rank.png); 
}
.header_dropdown li a i.icon4  {
    background: url(../../../assets/student/images/new_icon/profile_icon.png); 
}
.header_dropdown li a i.icon5  {
    background: url(../../../assets/student/images/new_icon/logout.png); 
}
.browse_file img{   
    padding: 0;
    border: none;
    width: 30px;
    height: 30px;

}
.clock_icon img {
    width: 100%;
    padding: 10px;
    padding-top: 6px;
}
.refreal_point {
    float: right;
    margin-right: 15px;
    color: #000;
}
.refreal_point badge{
	    background: #ec382c;
    color: #fff;
    border-radius: 100%;
    padding: 1px 6px;
	}
	.mb50{
		margin-bottom: 50px;
	}
	       .welcomeModal{
    padding: 6% 20%;
        }
         .welcomeModal h3{
    font-size: 20px;
    font-weight: bold;
        }
         .welcomeModal img{
    width: 75%;
    height: auto;
    margin: 10px 0;
        }
        .welcomeModal p{
   font-size: 15px;
    line-height: 28px;
        }
        .welcomeModal .s_button .button_1{
    float: left;
    background: #a24ec7;
    border: 1px solid #4a0158;
    /*color: #fff;*/
    color: #272727;
    border-radius: 15px;
    padding: 5px 10px;
    width: 120px;
        }
    .welcomeModal .s_button .button_2{
    float: right;
    background-image: linear-gradient(to right, #fdc60a , #ee713b);
    border: none;
    /*color: #fff;*/
    color: #272727;
    border-radius: 15px;
    padding: 5px 10px;
    width: 120px;
        }
       .welcomeModal .s_button {
        display: block;
    padding-bottom: 8%;
    padding-top: 8%;
}
.s_modal_content{
      background:rgba(255, 255, 255, 0.87);
      border-radius: 0;
}



.faq{
        font-size: 14px;
}
.faq a{
    font-weight: 600;
    color: #eb362a;
    padding-right: 5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #fdc60a , #ee713b);
}

  #FAQModal .modal-title {
    font-weight: bold;
    color: #dd1613;
}


figure.snip0016 {
        border-radius: 0px;
     color: #fff;
    position: relative;
    overflow: hidden; 
    width: 50%;
    margin: auto;
    background: #000000;
    text-align: left;
}
figure.snip0016 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0016 img {
  max-width: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0016 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%;
}
figure.snip0016 figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0016 h2,
figure.snip0016 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0016 h2 { 
    font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0016 h2 span {
  font-weight: 800;
}
figure.snip0016 p {
  font-weight: normal;
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
 
figure.snip0016:hover img {
  opacity: 0.3;
}
figure.snip0016:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
figure.snip0016:hover figcaption p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0016:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.prize-div{
    line-height: 6px;
    text-align:center;
}
.prize-name{
        color: #ed3227;
    font-size: 15px;
    font-weight: 700;
}
.prize-desc{
        font-size: 11px;
    font-weight: bold;
}
.rank-row-not-participated{
        background: #f3b6b2;
    color: #ec2f23;
    font-weight: bold;
}
